.background-gray {background-color: var(--gray-100);}
/* LAYOUT - STARTS*/
.section-md {
  margin-block-start: 48px;
  margin-block-end: 48px;
}
.container-lg {
  max-width: 1024px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}
.section-project {
  padding: 90px 16px;
}
/* LAYOUT - ENDS*/

/* ARTICLE - STARTS*/
.article {
  font-size: 1.8rem;
}
.article p {
  font-family: var(--font-primary);
  margin-block-start: 24px;
  margin-block-end: 24px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--gray-700);
}
.article h2 {
  margin-block-start: 56px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--gray-900);
}
.article ul {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--gray-700);
  padding-inline-start: 16px;
}
.article ul li {
  padding-inline-start: 0.8rem;
  margin-block-end: 1rem;
}
/* ARTICLE - ENDS */



.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  gap: 10px;
}


.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
  margin-block-start: 48px;
  margin-block-end: 60px;
}
.figure {
  margin-inline-start: 32px;
  transition: all 0.4s ease;
}
.figure img {
  border-radius: 15px;
}
.figure img:hover {
  border-radius: 6px;
  transition: all 0.4s ease;
  transform: scale(1.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.feature-card svg {
  width: 33px;
  height: 33px;
  background-color: var(--blue-800);
  fill: white;
  border-radius: 8px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
}
.social-icons i {
  font-size: 2.2rem;
  color: var(--blue-900);
  padding: 4px;
  transition: all 0.4s ease;
  border-radius: 10px;
}
.social-icons i:hover {
  background-color: var(--blue-800);
  color: var(--white);
  padding: 4px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.info ul {
  display: flex;
  padding: 0;
}
.info ul li {
  margin-inline-end: 8px;
  text-transform: capitalize;
  padding: 2px 10px 2px 10px;
  background-color: var(--blue-200);
  border-radius: 10px;
}

.group-icon svg {
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 5px;
}